.phonebookSection {
  margin: 60px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  border-radius: 20px;
  background-color: #faf5f5;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1), -23px 0 20px -23px rgba(0, 0, 0, 0.8),
    23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
